<%= form_with(model: @read_record) do |f| %>
  <%= render 'shared/error_messages', object: @read_record %>
  <div class="mb-3">
    <%= f.hidden_field :book_id, value: @read_record.book_id %>
  </div>
  <div class="mb-3">
    <%= f.hidden_field :family_id, value: @read_record.family_id %>
  </div>
  <div class="mb-3">
    <%= f.label :child_id, class: "form-label" %>
    <%= f.select :child_id, options_for_select(@read_record.family.children.map { |child| [child.name, child.id] }), {}, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :read_date, class: "form-label" %>
    <%= f.date_field :read_date, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.fields_for :tags, @read_record.tags.build do |tag_form| %>
      <%= tag_form.label :name, class: "form-label" %>
      <%= tag_form.text_field :name, class: "form-control", placeholder: "複数タグ付する場合は','で区切ってください。" %>
    <% end %>
  </div>
  <div class="mb-3">
    <%= f.label :body, class: "form-label" %>
    <%= f.text_field :body, class: "form-control" %>
  </div>
  <div class="mb-3 d-grid gap-2">
    <%= f.submit yield(:button_text), class: "btn btn-warning btn-lg" %>
  </div>
<% end %>
