<% provide(:title, t(".title")) %>
<h1 class="text-center p-5"><%= t(".sub-title") %></h1>

<div class="container">
  <% @read_records.each do |read_record| %>
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag read_record.book.image_link, class: "img-fluid rounded-start" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><%= read_record.book.title %></h4>
            <h5 class="card-text"><%= t(".reader") %> : <%= read_record.user.name %></h5>
            <h5 class="card-text"><%= t(".read_date") %> : <%= l(read_record.read_date, format: :long) %></h5>
            <% if read_record.body.present? %>
              <h5 class="card-text"><%= t(".comment") %> : <%= read_record.body %></h5>
            <% end %>
            <% read_record.tags.each do |tag| %>
              <p class="fs-6 badge bg-success text-white"><%= tag.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= paginate @read_records %>
  </div>
</div>
