<% provide(:title, t(".title")) %>

<div class="container mb-5">
  <h1 class="text-center p-5"><%= t(".ranking") %></h1>
  <div class="d-flex justify-content-evenly">
    <% @book_ranks.each_with_index do |book_rank, index| %>
      <div class="col text-center">
        <% if index == 0 %>
          <%= image_tag "ranking-1.png", width: "40", height: "40" %>
        <% elsif index == 1 %>
          <%= image_tag "ranking-2.png", width: "40", height: "40" %>
        <% elsif index == 2 %>
          <%= image_tag "ranking-3.png", width: "40", height: "40" %>
        <% elsif index == 3 %>
          <%= image_tag "ranking-4.png", width: "40", height: "40" %>
        <% elsif index == 4 %>
          <%= image_tag "ranking-5.png", width: "40", height: "40" %>
        <% end %>
        <div class="mx-auto" style="width: 13rem;">
          <%= image_tag book_rank.image_link.present? ? book_rank.image_link : 'sample.png', class: 'img-thumbnail book-img' %>
          <div class="fs-4 p-3"><%= book_rank.title.truncate(10) %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h1 class="text-center p-5"><%= t(".read_records") %></h1>
  <% @read_records.each do |read_record| %>
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag read_record.book.image_link, class: "img-fluid rounded-start" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><%= read_record.book.title %></h4>
            <h5 class="card-text"><%= t(".reader") %> : <%= read_record.user.name %></h5>
            <% if read_record.read_date.present? %>
              <h5 class="card-text"><%= t(".read_date") %> : <%= l(read_record.read_date, format: :long) %></h5>
            <% end %>
            <% if read_record.body.present? %>
              <h5 class="card-text"><%= t(".comment") %> : <%= read_record.body %></h5>
            <% end %>
            <% read_record.tags.each do |tag| %>
              <p class="fs-6 badge bg-success text-white"><%= tag.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= paginate @read_records %>
  </div>
</div>
