<% provide(:title, t(".title")) %>
<h1 class="text-center p-5"><%= t(".title") %></h1>

<div class="row">
  <div class="col-md-10 col-lg-8 mx-auto w-50">
    <h2 class="text-center text-success">
      <%= "#{@family.name}家" %>
    </h2>
    <h3 class="text-center border-bottom pb-3 mb-5">
      <%= @family.introduction %>
    </h3>

    <h4 class="text-secondary"><%= t(".family") %></h4>
    <div class="text-center fs-3 border-bottom pb-3 mb-5">
      <% @family.users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
    </div>

    <h4 class="text-secondary"><%= t(".child") %></h4>
    <div class="text-center fs-3 border-bottom pb-3 mb-5">
      <% @family.children.each do |child| %>
        <ul class="nav justify-content-center pb-3 mb-5">
          <li class="px-3"><%= child.name %></li>
          <li class="px-3"><%= child.gender %></li>
          <li class="px-3"><%= child.birthday.strftime('%Y年%-m月%-d日生まれ') %></li>
        </ul>
      <% end %>
      <%= link_to t(".button_text"), new_child_path(family_id: @family.id), class: "btn btn-outline-warning" %>
    </div>

    <h4 class="text-secondary"><%= t(".read_record") %></h4>
    <% @family.read_records.order(created_at: :desc).each do |read_record| %>
      <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag read_record.book.image_link, class: "img-fluid rounded-start" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title"><%= read_record.book.title %></h4>
              <h5 class="card-text"><%= t(".reader") %> : <%= read_record.user.name %></h5>
              <h5 class="card-text"><%= t(".read_date") %> : <%= read_record.read_date %></h5>
              <% if read_record.body.present? %>
                <h5 class="card-text"><%= t(".comment") %> : <%= read_record.body %></h5>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
