<%= form_with(model: @user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control fs-4", placehlder: "たろう" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control fs-4" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control fs-4" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control fs-4" %>
  </div>
  <div class="mb-3 d-grid gap-2">
    <%= f.submit yield(:button_text), class: "btn btn-warning btn-lg" %>
  </div>
<% end %>
