<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><%= link_to "ホーム", home_path, class: "nav-link px-2 text-body-secondary" %></li>
    <li class="nav-item"><%= link_to "よんだとは", about_path, class: "nav-link px-2 text-body-secondary" %></li>
    <li class="nav-item"><%= link_to "利用規約", "#", class: "nav-link px-2 text-body-secondary" %></li>
    <li class="nav-item"><%= link_to "プライバシーポリシー", "#", class: "nav-link px-2 text-body-secondary" %></li>
    <li class="nav-item"><%= link_to "お問い合わせ", "#", class: "nav-link px-2 text-body-secondary" %></li>
  </ul>
  <p class="text-center text-body-secondary">Copyright © 2024 Keisuke Kiriyama</p>
</footer>
  